<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Push the button</h1>
      <br>
      <a href="https://cs7-5v4.vk-cdn.net/p19/092b84a82b9137.mp3?extra=Ep7hk0qAsq65zs5OhRX_FZQi4Zdhrhj1QU_bFqjoJsywyBO7osd6pTpqHr4FBBLEL0HleI7uJiiFmPeVva6HnxDECVFIKhKN_0Gj9VhIq3qxEAR45ECHYDNqBIDUN4wvvdYJggHXYOkRxQ"><button>sdsdsdsds</button></a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
