<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <a href= "https://oauth.vk.com/authorize?client_id=5458340&display=page&redirect_uri=localhost:5000/downloadmusic&scope=8&response_type=token&v=5.57&state=123456" target="_blank" ><input class="btn btn-default" type="submit" value="Get"></a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>